h1{
    text-align: center;
    font-family: monospace;
}

img{
    width: 50%;
    aspect-ratio: 1;
position: fixed;
    top: 8%;
    left: 30%;
}


p{
    color: red;
    font-size: 15px;
    font-style: italic;
    position: relative;
    top: 40%;
    left: 40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

img:hover{
    transition:cubic-bezier(0.47, 0, 0.745, 0.715);
    transition-duration: 2sec;
    transform: rotateX('angle');
    opacity: 0.3;
}